@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  width: 20rem;
  height: 30rem;
  box-shadow: 5px 5px 10px;
  border-radius: 1.5rem;
  margin-top: 6rem;
}

.icon,
.icon-reverse {
  font-size: 6rem;
}

.number-icon {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 7rem;
}

.icon-reverse {
  transform: rotateZ(3.142rad);
}

.hearth,
.diamond {
  color: red;
}

.spade,
.club {
  color: black;
}
